# Name = Great Mahou Daisakusen (Japan 000121)
# Company = Eighting/Raizing, distributed by Capcom
# Year = 2000
# Players = 2
# 0rientation = vertical


current_resolution_id = "4"
video_rotation = "1"
aspect_ratio_index = "23"
custom_viewport_width = "384"
custom_viewport_x = "1"
custom_viewport_y = "2"
            
#include "sd:/retroarch/retroarch.cfg"