# Name = Street Fighter Zero 3 (Japan 980629)
# Company = Capcom
# Year = 1998
# Players = 2
# 0rientation = horizontal


current_resolution_id = "4"
aspect_ratio_index = "23"
custom_viewport_width = "384"
custom_viewport_x = "1"
custom_viewport_y = "2"
            
#include "sd:/retroarch/retroarch.cfg"