# Name = Pengo (set 3 not encrypted)
# Company = Sega
# Year = 1982
# Players = 2
# Control = joy4way
# Orientation = vertical


current_resolution_id = "8"
video_rotation = "1"
aspect_ratio_index = "23"
custom_viewport_width = "576"
custom_viewport_height = "224"
custom_viewport_x = "1"
custom_viewport_y = "2"

# ATTENTION WARN 1 (LOW)
            
#include "sd:/retroarch/retroarch.cfg"