# Name = SF-X
# Company = Nichibutsu
# Year = 1983
# Players = 2
# Control = joy8way
# Orientation = horizontal


current_resolution_id = "5"
aspect_ratio_index = "23"
custom_viewport_width = "448"
custom_viewport_height = "224"
custom_viewport_x = "1"
custom_viewport_y = "2"

# ATTETION WARN 1 (LOW)
            
#include "sd:/retroarch/retroarch.cfg"