# Name = War of Aero - Project MEIOU
# Company = Yang Cheng
# Year = 1993
# Players = 2
# 0rientation = vertical


current_resolution_id = "16"
video_rotation = "1"
aspect_ratio_index = "23"
custom_viewport_width = "384"
custom_viewport_height = "240"
custom_viewport_x = "1"
custom_viewport_y = "2"
            
#include "sd:/retroarch/retroarch.cfg"