# Name = Rastan (US set 2)
# Company = Taito America Corporation
# Year = 1987
# Players = 2
# Control = joy8way
# Orientation = horizontal


current_resolution_id = "20"
aspect_ratio_index = "23"
custom_viewport_width = "640"
custom_viewport_height = "240"
custom_viewport_x = "1"
custom_viewport_y = "2"

# ATTENTION WARN 1 (LOW)
            
#include "sd:/retroarch/retroarch.cfg"