# Name = Varth - Operation Thunderstorm (World 920612)
# Company = Capcom
# Year = 1992
# Players = 2
# Control = joy8way
# Orientation = vertical


current_resolution_id = "21"
video_rotation = "1"
aspect_ratio_index = "23"
custom_viewport_width = "384"
custom_viewport_height = "224"
custom_viewport_x = "62"
custom_viewport_y = "2"

# INFO = Es necesario configuracion Especial.
            
#include "sd:/retroarch/retroarch.cfg"